[net]
width=640
height=640
channels=3

# Focus

[reorg]

[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=96
size=3
stride=2
pad=1
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[route]
layers=-1, -9

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[route]
layers=-1, -21

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[route]
layers=-1, -21

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=768
size=3
stride=2
pad=1
activation=silu

# SPP

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[maxpool]
stride=1
size=5

[route]
layers=-2

[maxpool]
stride=1
size=9

[route]
layers=-4

[maxpool]
stride=1
size=13

[route]
layers=-6, -5, -3, -1

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

# nn.Upsample

[upsample]
stride=2

# Concat

[route]
layers=-1, 61

# C3

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

# nn.Upsample

[upsample]
stride=2

# Concat

[route]
layers=-1, 37

# C3

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=silu

# Concat

[route]
layers=-1, 92

# C3

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=silu

# Concat

[route]
layers=-1, 80

# C3

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=silu

# Detect

[route]
layers=103

[convolutional]
filters=21
size=1
stride=1
pad=1
activation=logistic

[yolo]
mask=0, 1, 2
anchors=4.77734375, 5.26171875, 10.6484375, 12.203125, 18.359375, 22.09375, 19.453125, 51.6875, 34.59375, 43.1875, 40.25, 107.75, 68.875, 180.5, 110.75, 299.75, 230.5, 494.25
classes=2
num=9
scale_x_y=2.0
beta_nms=0.6
new_coords=1

# Detect

[route]
layers=114

[convolutional]
filters=21
size=1
stride=1
pad=1
activation=logistic

[yolo]
mask=3, 4, 5
anchors=4.77734375, 5.26171875, 10.6484375, 12.203125, 18.359375, 22.09375, 19.453125, 51.6875, 34.59375, 43.1875, 40.25, 107.75, 68.875, 180.5, 110.75, 299.75, 230.5, 494.25
classes=2
num=9
scale_x_y=2.0
beta_nms=0.6
new_coords=1

# Detect

[route]
layers=125

[convolutional]
filters=21
size=1
stride=1
pad=1
activation=logistic

[yolo]
mask=6, 7, 8
anchors=4.77734375, 5.26171875, 10.6484375, 12.203125, 18.359375, 22.09375, 19.453125, 51.6875, 34.59375, 43.1875, 40.25, 107.75, 68.875, 180.5, 110.75, 299.75, 230.5, 494.25
classes=2
num=9
scale_x_y=2.0
beta_nms=0.6
new_coords=1
